<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  
  	<!-- MAJOR SECTION ******************************************************************************************************-->
   	<!-- ************************** Spring MVC specific *********************************************************************-->
   	<!-- ********************************************************************************************************************-->
 	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
    
  
 
 
 

 	<!-- MAJOR SECTION ******************************************************************************************************-->
   	<!-- ************************** For REST ********************************************************************************-->
   	<!-- ********************************************************************************************************************-->
	<!-- <servlet>
      <servlet-name>Jersey Web Application</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>    
  	  <init-param>
  	  	<param-name>com.sun.jersey.config.property.packages</param-name>
  	  	<param-value>com.lingoli.rest</param-value>
  	  </init-param>
  	  <load-on-startup>1</load-on-startup>
    </servlet>
   <servlet-mapping>
      <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/resource/*</url-pattern> 
   </servlet-mapping>
 -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
   
</web-app>
